<% level ||= 0 %>
<% col = 255 - level * 5 %>
<% fields.each do |field| %>
  <% if !field[:show] %>
    <%= render(:partial => "fields", :locals => {:level => level, :fields => field[:fields]}) unless field[:fields].blank? %>
    <% next %>
  <% end %>
  <tr style='background-color:rgb(<%= "#{col},#{col},#{col}" %>);'>
    <td>
      <strong><%= field[:full_name] %> </strong><br>
      <small>
        <%= field[:allow_nil] ? ', '+t('apipie.nil_allowed') : '' %>
      </small>
    </td>
    <td>
      <%= field[:description].html_safe %>
      <% unless field[:validator].blank? %>
        <br>
        <%= t('apipie.value') %>: <%= Apipie.markup_to_html(field[:validator]).html_safe %>
      <% end %>

      <% unless field[:metadata].blank? %>
        <br>
        Metadata:
        <%= render(:partial => "metadata", :locals => {:meta => field[:metadata]}) %>
      <% end %>

    </td>

  </tr>

  <%= render(:partial => "fields", :locals => {:level => level + 1, :fields => field[:fields]}) unless field[:fields].blank? %>
<% end %>
